/* --------------- Variables ---------------- */
:root {
  --primaryColor: #e3e5b3;
  --mainGrey: #eaeef4;
  --mainBlue: #8ec1c5;
  --mainGreen: #93c572;
  --mainRed: #df5e74;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------------- Main styles ---------------- */
body {
  font-family: "Cormorant SC", "Lucida Sans", "Verdana", serif;
}

main {
}


/* --------------- Navbar ---------------- */
header{
  position: sticky;
  top: 0;
}
nav {
  background: var(--mainGrey);
  font-size: 1.5rem;
  padding: 1rem;

}
.navbar ul {
  display: flex;
 flex-direction: column;
 width: 100%;
 justify-content: space-around;
}

#logo {
  height: 5rem;
  width: 8rem;
}

a {
  color: var(--mainGreen);
  text-decoration: none;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-icon:hover,
a:hover {
  color: var(--mainRed);
}

section .introImage{
  height: 600px;
  width: 600px;
  /* background-image: url("./resources/images/2.jpg");
  background-repeat: none;
   */
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
}

nav li {
  margin: auto;
}

.cart-btn {
  position: relative;
  cursor: pointer;
  color: var(--mainGreen);
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 50%;
  color: var(--mainRed);
  font-size: 1.1rem;
}
/* --------------- End of Navbar ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  /* comment to show cart's sliding page */
  visibility: hidden; 
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  /* comment to show cart's sliding page */
  transform: translateX(100%); 
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/* --------------- Cart Item ---------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: var(--mainGreen);
  cursor: pointer;
}
/* --------------- End of Cart Item ---------------- */
/* --------------- Cards ---------------- */
.cards {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 2rem auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 1.5rem;
  text-transform: capitalize;
}

.itemImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
}

.itemName {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem;
  color: black;
  background-color: var(--mainGrey);
  border-radius: 0 0 20px 20px;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--mainGreen);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
  border-radius: 20px;
}

.bag-btn:hover {
  color: var(--mainWhite);
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}

.itemImage {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

.img-container:hover .itemImage {
  opacity: 0.5;
}
/* --------------- End of Cards ---------------- */


.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- Start of Footer ---------------- */
footer{
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--mainGreen);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer-nav li:not(:first-child){
  border-left:1px solid #000;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}
.footer-link{
  color: black;
}
.footer-link:hover{
  text-decoration: underline;
  color: black;
}
.social-icons{
  display: inline-flex;
  justify-content: space-around;
}
.social-icons i {
  margin: 0.5rem;
}
.footer-topLine{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright{
  font-size: 0.7rem;
}
/* --------------- End of Footer ---------------- */



/* --------------- media queries ----------------- */
@media screen and (min-width: 768px) {

}
@media only screen and (max-width: 600px) {
  .footer-topLine{
    display: flex;
    flex-direction: column;
  }
  .cards {
    margin: 2rem;
}
}

/* --------------- End of media queries ----------------- */