/* --------------- Variables ---------------- */
:root {
  --primaryColor: #e3e5b3;
  --mainGrey: #eaeef4;
  --mainBlue: #8ec1c5;
  --mainGreen: #93c572;
  --mainRed: #df5e74;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------------- Main styles ---------------- */
body {
  font-family: "Cormorant SC", "Lucida Sans", "Verdana", serif;
}

main {
}

/* --------------- Navbar ---------------- */
nav {
  background: var(--mainGrey);
  font-size: 1.5rem;
  padding: 1rem;
}

#logo {
  height: 5rem;
  width: 8rem;
}

a {
  color: var(--mainGreen);
  text-decoration: none;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-icon:hover,
a:hover {
  color: var(--mainRed);
}

.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
  padding-top: 30px;
}

.itemImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
}

.itemName {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 1rem;
  color: black;
  background-color: var(--mainGrey);
  border-radius: 0 0 20px 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
}

nav li {
  margin: auto;
}

.cart-btn {
  position: relative;
  cursor: pointer;
  color: var(--mainGreen);
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 50%;
  color: var(--mainRed);
  font-size: 1.1rem;
}
/* --------------- End of Navbar ---------------- */

/* --------------- media queries ----------------- */
@media screen and (min-width: 768px) {
}

/* --------------- End of media queries ----------------- */
