/* --------------- Variables ---------------- */
:root {
  --primaryColor: #e3e5b3;
  --mainGrey: #eaeef4;
  --mainBlue: #8ec1c5;
  --mainGreen: #93c572;
  --mainRed: #df5e74;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------------- Main styles ---------------- */
body {
  font-family: "Cormorant SC", "Lucida Sans", "Verdana", serif;
}
/* --------------- Header ---------------- */
header{
  position: sticky;
  top: 0;
}
/* --------------- Navbar ---------------- */
nav {
  background: var(--mainGrey);
  font-size: 1.5rem;
  padding: 1rem;
}
.navbar ul {
  display: flex;
 flex-direction: column;
 width: 100%;
 justify-content: space-around;
}

#logo {
  height: 5rem;
  width: 8rem;
}

a {
  color: var(--mainGreen);
  text-decoration: none;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-icon:hover,
a:hover {
  color: var(--mainRed);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
}

nav li {
  margin: auto;
}
.cart-btn {
  position: relative;
  cursor: pointer;
  color: var(--mainGreen);
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 50%;
  color: var(--mainRed);
  font-size: 1.1rem;
}

/* ----Hamburger menu ----- */
.fas.fa-bars {
  color: var(--mainGreen);
}

/* Hide Hamburger */
#hamnav label, #hamburger {
  display: none;
}

/* Horizontal menu items */
#hamitems {
  display: flex;
}

#hamitems li a {
  padding: 10px;
  
}

/* --------------- Media Queries ---------------- */
@media screen and (max-width: 768px) {
  /* Show hamburger icon */
  #hamnav label {
    display: inline-block;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #hamitems li a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--mainGreen);
  }

  /* Toggle Show/Hide Menu */
  #hamitems, .cart-btn, #logo {
    display: none;
  }

  #hamnav input:checked ~ #hamitems {
    display: block;
  }
  .footer-topLine{
    display: flex;
    flex-direction: column;
  }
  .cards {
    margin: 2rem;
}
}
/* --------------- End of Hamburger menu ---------------- */

/* --------------- Hero ---------------- */
section .introImage{
  height: 600px;
  width: 600px;
  /* background-image: url("./resources/images/2.jpg");
  background-repeat: none;
   */
}
.hero {
  min-height: 100vh;
  background: url('../images/2.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
  border-radius: 10px;
}

.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  font-weight: 700;
  background: var(--mainGreen);
  border: 1px solid var(--mainGreen);
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 10px;
}

.banner-btn:hover {
  background: transparent;
  color: var(--mainGreen);
}
/* --------------- End of Hero ---------------- */
/* --------------- Start of Sort Buttons ---------------- */
#sort-section h2{
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
}
#sort-buttons{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 80vh;
  margin: 2rem auto 3rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

#sort-buttons button {
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  background-color: var(--mainGreen);
  border: solid 1px var(--mainGreen);
}
#sort-buttons button:active{
  transform: translate(1px, 1px);
  box-shadow: 2px 2px 2px 0px rgba(59,59,56,1);
}
/* --------------- End of Sort Buttons ---------------- */


/* --------------- Cards ---------------- */
.cards {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 2rem auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 1.5rem;
}

.itemImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
}

.itemName {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem;
  color: black;
  background-color: var(--mainGrey);
  border-radius: 0 0 20px 20px;
}

/* --------------- End of Cards ---------------- */

/* --------------- Start of Footer ---------------- */
footer{
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--mainGreen);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer-nav li:not(:first-child) {
  border-left: 1px solid #000;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}
.footer-link{
  color: black;
}
.footer-link:hover{
  text-decoration: underline;
  color: black;
}
.social-icons {
  display: inline-flex;
  justify-content: space-around;
}
.social-icons i {
  margin: 0.5rem;
}
.footer-topLine {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  font-size: 0.7rem;
}
/* --------------- End of Footer ---------------- */

/* --------------- media queries ----------------- */
@media only screen and (max-width: 600px) {
  .footer-topLine {
    display: flex;
    flex-direction: column;
  }
  .cards {
    margin: 2rem;
  }
}

/* --------------- End of media queries ----------------- */
